@page "/usercredentials"
@inject Blazored.Storage.ILocalStorage localStorage


@if (string.IsNullOrEmpty(auth.ConsumerKey))
{
    <p><em>Looks like there is no C4M credentials stored, please inform a valid one:</em></p>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="consumerKey">Consumer key: </label>
            <div class="col-sm-10">
                <input id="consumerKey" class="form-control" bind="@ConsumerKey" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="consumerSecret">Consumer secret: </label>
            <div class="col-sm-10">
                <input id="consumerSecret" class="form-control" bind="@ConsumerSecret" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-lg" onclick="@SaveCredentials">Save</button>
            </div>
        </div>
    </form>
}
else
{
    <p>This are the credentials used to access C4M API:</p>
    <label class="control-label">Consumer Key: <em>@auth.ConsumerKey</em></label><br />
    <label class="control-label">Consumer Secret: <em>*****</em></label><br />
    <button class="btn btn-primary btn-lg" onclick="@ClearCredentials">Enter new credentials</button>
}

@functions {

    private string ConsumerKey { get; set; }
    private string ConsumerSecret { get; set; }

    ConsumerCredentials auth = new ConsumerCredentials();

    protected override async Task OnInitAsync()
    {
        auth = await localStorage.GetItem<ConsumerCredentials>("auth") ?? new ConsumerCredentials();
    }

    void SaveCredentials()
    {
        if (string.IsNullOrEmpty(ConsumerKey) ||
            string.IsNullOrEmpty(ConsumerSecret)) return;

        auth.ConsumerKey = ConsumerKey;
        auth.ConsumerSecret = ConsumerSecret;

        localStorage.SetItem("auth", auth);
    }

    void ClearCredentials()
    {
        localStorage.RemoveItem("auth");

        auth = new ConsumerCredentials();

        ConsumerKey = "";
        ConsumerSecret = "";

    }
}
